/* ==================================================================
CSS Reset
================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
	background: #fafafa;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    color: #444444;
}
ol, ul {
	list-style: none;

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


::selection {
    background: #ec6f5f;
    color: #fff;
}

::-moz-selection {
    background: #ec6f5f; /* Firefox */
    color: #fff;
}

::-webkit-selection {
    background: #ec6f5f; /* Safari */
    color: #fff;
}

html {
    font: normal 112.5%/1.65 serif; /* base font size 18px with 1.65 line-height */
}


a {text-decoration:none !important; color: #412e5a;}
a:hover {color: #ec6f5f;}
.more {
	font-size: 14px;
	text-decoration: underline;
	font-family: 'Montserrat', sans-serif; 
}
.more:hover {
	text-decoration: underline;
	color: #ec6f5f;

}

/* ==================================================================
Typography
================================================================== */


@font-face {
	font-family: "Ampersand";
	src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
	unicode-range: U+0026;
}

@font-face {
	font-family: "Ampersand";
	src: local("Georgia");
	unicode-range: U+270C;
}



/* Headings */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin-top: 0;
	text-rendering: optimizeLegibility; /* to enable ligatures and kerning  */
	color: #412e5a;
    font-family: 'Montserrat', sans-serif;
}


h1,
.alpha {
	font-size: 60px;
	font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
	margin-bottom: 0.495em;
}

h2,
.beta {
	font-size: 1.8rem; /* 48 / 18 = 2.6667 */
	margin-bottom: 0.61875rem;
	padding-top: 48px;
	padding-bottom: 10px;
}

h3,
.gamma {
	font-size: 36px;
	font-size: 1rem; /* 36 / 18 = 2 */

	
}

h4,
.delta {
	font-size: 34px;
    text-align: center;
}

h5,
.epsilon {
	font-size: 21px;
	font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
	margin-bottom: 1.4142857142857141em; /* measure( base font-size(18) * base line-height(1.65) ) / current font-size(21) = margin-bottom(1.4142857142857141) */
}

h6,
.zeta {
	font-size: 18px;
	font-size: 1rem; /* 18 = 18 × 1 */
	margin-bottom: 1.65em; /* measure( base font-size(18) * base line-height(1.65) ) / current font-size(18) = margin-bottom(1.65) */
}

p {
	margin: auto auto 1.5em;
	font-size: 1.1em;
	line-height: 1.4;
	color: #656268;
	font-size: 21px;
	line-height: 31px;
	margin-bottom: 31px;
	font-family: 'Source Sans Pro', sans-serif;
}





/* ==================================================================
ScrollBar
================================================================== */

::-webkit-scrollbar {
    width: 20px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: none; 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
::-webkit-scrollbar-#thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(180,180,180,0.8); 
    -webkit-box-shadow: none; 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(180,180,180,0.4); 
}



/* ==================================================================
Main Navigation
================================================================== */

a.logo {
	float: left;
	padding-top: 2px;
	padding-left: 10px;
}

.logo h1 {
display: block;
padding: 8px 8px;
font-weight: 500;
text-align: center;
text-transform: uppercase;
color: #412e5a;
border: 3px solid #ec6f5f;
font-size: 23px;
font-family: 'Montserrat', sans-serif;            
}

nav#main-nav {
	z-index: 100;  
	background: rgba(250, 250, 250, 0); 
	min-width: 300px;      
	margin: 0 auto;  
	max-width: 800px;
	position: fixed;  
	left: 50%;    
	border-bottom: 1px solid rgba(65, 46, 90, 0.25);
	position: fixed;
	left: 10%;      
	right: 10%;      
	bottom: inherit;            
	top: 25px;
}



nav#main-nav ul {
	float: right;
	margin-right: 10px;
}

nav#main-nav ul li {
	float: left;
	display: inline-block;
	line-height: 14px;
}

nav#main-nav ul li a {
    text-transform: uppercase;
    padding: 20px 0;
    display: inline-block;
    text-align: center;
    float: left;
    margin-left: 25px;
    font-size: 16px;
    color: rgb(186, 178, 199);
    text-decoration: none;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;


}

nav#main-nav ul li a:hover {
color: #412e5a;

}

nav#main-nav ul li a.active {
color: #412e5a;
border-bottom: 3px solid #ec6f5f;
}

.blocker {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    width: 100%;
    height: 84px;
    background: rgba(234, 234, 234, 0.9);
    min-width: 300px;
     -webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px);
}



#responsive-nav [class^="icon-"] {
	color: #412e5a
}

/* ==================================================================
Responsive Navigation
================================================================== */

#main-nav #responsive-nav {
	display: none;
	float: right;
	/* background: #333311; */
	text-align: center;
	border: 3px solid #ec6f5f;
	color: red;
	padding: 8px;
	margin-top: 5px;
}

#main-nav #responsive-nav:hover i {
	color: #ec6f5f;
}

#main-nav .responsive-nav {
	margin-bottom: 20px;
	padding: 10px;
}

/* -- ==========  Sections  ========== */

section {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 50;
	overflow: auto;
	background: #eaeaea;
}

section .container {
	padding-top: 90px;
}




/* -- ==========  Services  ========== */

#services {
	
}



/* -- ==========  About  ========== */

.introtext {
color: rgb(17, 17, 17);
font-family: 'Source Sans Pro', sans-serif;
font-size: 21px;
}

#abut .row {
	padding-bottom: 25px;

}

#about h3 {
	text-align: center;
    text-transform: uppercase;
    font-style: normal;
    padding-top: 45px;
    padding-bottom: 20px;


}


#about h3:hover {
	color: #412e5a;
		text-decoration: underline;
}

#about h3 a {
	color: #222222 !important;
}

.row {
    padding-bottom: 48px;
}

h3:not(:first-child) select 
{ margin-top: 3em;}

#about .row {
margin-left: -12px;
}

#about .span8 > h3:hover {
	color: #412e5a;
	text-decoration: none;
}


#about h4 a:hover {
color: #412e5a;
}

/* -- ==========  Footer  ========== */

.contact {
width: 27%;
padding-left: 15px;
display: inline-block;
padding-bottom: 15px;
color: rgb(17, 17, 17);
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
line-height: 23.984375px;
min-width: 191px;
border-right: 1px solid #dededc;
height: 100px;
}


.startfooter {
	display: block;
width: 20%;
margin: 50px auto 40px auto;
border: 1px solid #dededc;
}

.contact:nth-child(3) {
	border: none !important;
}

.contactrow h3 {
border-top: 1px solid #ccc;
padding-top: 16px;
}

.connectrow {
	border-top: 2px solid #dddddd;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-right: -11px;
}


.contactlinks ul {
	text-align: center;
	float: none;
	font-size: 22px;
	border-top: 2px solid #CCC;
	padding-top: 10px;
	}

.contactlinks li {
	display: inline;
	padding-left: 25px;
}

.contactlinks li span {
	display: inline;
	padding-left: 25px;
}

.contactlinks li span {
	color: #ec6f5f;
	font-size: 20px;
}


.homefooter {
	border: 2px solid #dddddd;
}

.homefooter:hover {
		border: 2px solid #412e5a;	  
		-o-transition: 1s;
		-ms-transition:1s;
		-moz-transition:1s;
		-webkit-transition: 1s;
		/* ...and now for the proper property */
		transition: 1s;
}

.homefooter:hover .connectrow {
		border-top: 2px solid #412e5a;
		-o-transition:1s;
		-ms-transition:1s;
		-moz-transition:1s;
		-webkit-transition:1s;
		/* ...and now for the proper property */
		transition:1s;
}


/* -- ==========  Work  ========== */

.workitem {
	margin-top: 42px;
	text-shadow: 0 1px 0 rgba(255,255,255,.65);
}

.workitem h3 {
	text-align: center;
}

.workitem h4 {
	padding: 15px 10px;
border-top: 2px solid #111;
border-bottom: 1px solid #ccc;
margin: 15px 0;
font-size: 23px;
}

.workitem img {
	box-shadow: 0px 1px 10px 0px #cecece;
	border: 1px solid #c4c4c4;
	margin: 20px auto 0px auto;
	display: block;
	background-color: #000;
	background-size: 100%;
}

.workitem p {
	padding: 16px;
}


.workintrolist {
	list-style-type: square;
	padding-left: 22px;
	margin-bottom: 1.5em;
}

.workintrolist li {
	line-height: 23.984375px;
	color: #656268;
}




/* -- ==========  Blog  ========== */

#blog {

}

.blogrow {
	padding-top: 15px;
	color: rgb(68, 68, 68);
	font-style: italic;
}	

.blogrow h4 a {
	color: rgb(68, 68, 68);
}

#blog h4:hover {
	text-decoration: underline;
}


.introtext p {
	color: #222222;
	position: relative;
	top: -15px;
}

.blogrow div:hover {
text-decoration: none !important;
}


.single-blog {
    position: absolute;
    top: 0;
    display: block;
    margin-top: 0px;
    background: #333333;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}

.entries {
	padding-top: 48px;

}



.entries > li > a > h3 {
    color: #444444;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    letter-spacing: -1px;
    margin: 0 auto 10px;
    text-align: center;
    padding-top: 15px;

}


.entries > li > a > div > p {
	margin-bottom: 16px;
}

.entries > li > a > div {
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    font-size: 21px;
    line-height: 32px;
    padding-bottom: 52px;
}

.entries img {
    width: auto\9;
    height: auto;
  margin-left:auto;
margin-right:auto;
width:422px;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}



.blogdate {
    color: #999;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.entries p:nth-child(2) {
margin: 0;
}


/* -- ==========  Post  ========== */


.home-icon {
    font-size: 2.5em;
    color: #ec6f5f;
    text-align: center; 
}

.home-icon a {
	color: #ec6f5f;
	position: relative;
	top: 20px;
}


.post p {
    color: #656268;
}

.post h2, h5 {
	text-align: center;
}


p:hover {
    text-decoration: none!important;
}

a [class^="icon-"] {
	color: white;
}

a [class^="icon-"]:hover {
	color: #ec6f5f;
}


.top-strip {
	border-top: .8em solid #412e5a;
padding-bottom: 2.6em;
}


.blogpost a [class^="icon-"] {
color: #412e5a;         /* colour of shadow */;
}

.blogpost a [class^="icon-"]:hover {
color: #ec6f5f;         /* colour of shadow */;
border-bottom: 3px solid #ec6f5f;
-moz-filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));    -ms-filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));    -o-filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
}


/* -- ==========  Contacts  ========== */

#contacts {
}



p img {
	margin: 1.25em auto;
max-width: 660px;
}





/* -- ==========  Fade in  ========== */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0; 
	-webkit-animation:fadeIn ease-in 1; 
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	
	-webkit-animation-duration:0.7s;
	-moz-animation-duration:0.7s;
	animation-duration:0.7s;
}

.fade-in.one {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.fade-in.two {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

.fade-in.three {
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	animation-delay: 1.6s;
}



/* -- ==========  IE  ========== */




@media screen and (min-width:0\0) { 

	.blocker {
		background-color: #ccc; 
	}


	.fade-in {
		opacity:100; 
	}


    #main-nav {
    	max-width: 100% !important;
    }

    #main-nav h1 {
    	max-width: 300px;
    }
}


/* ++++++ SHAME ++++++ */
#fancybox-loading {
	display: none;
}

