<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <!<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <title>Blog | Kabir Sewani</title>

  <!--Meta Content-->
  <meta name="description" content="">
  <meta name="keywords" content="blog, graphic design"> 

  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="Blog &#8211; Kabir Sewani">
  <meta property="og:description" content="{% include head.html %}                                              {% for post in site.posts %}                    ...">
  <meta property="og:url" content="http://kabirsewani.com/blog_old.html">
  <meta property="og:site_name" content="Kabir Sewani">

  <!--RSS Feed--> 
  <link href="http://kabirsewani.com/feed.xml" type="application/atom+xml" rel="alternate" title="Kabir Sewani Feed">

  <!--Meta Viewports-->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts -->
  <link rel="stylesheet" href="http://kabirsewani.com/assets/css/entypo.css" media="all">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,700' rel='stylesheet' type='text/css'>

  <!--Calendas-->
  <link rel='stylesheet' href='http://kabirsewani.com/assets/fonts/cal.css' media='all' />

  <!-- CSS -->
  <link rel="stylesheet" href="http://kabirsewani.com/assets/css/i.css">
  <link rel="stylesheet" href="http://kabirsewani.com/assets/css/contact.css">


  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <!--Windows Cleartype-->
  <meta http-equiv="cleartype" content="on">

  <!-- Load Modernizr -->
  <script src="http://kabirsewani.com/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="http://kabirsewani.com/favicon.ico">
</head>

<body class="">
  <div id="bump">
  
    <nav class="fade-in three">
      <div class="site-width">
        <a href="index.html" target="_blank">kabir sewani</a>
        <span class="menu icon" title="Menu (Esc)" tabindex="0" data-icon="m"><span>Menu</span></span>
      <div>
      <div id="navigation">
        <ul>
          <li><span>The man behind this site</span><a href="http://kabirsewani.com/index.html" class="about" title="About me">About me</a></li>
          <li><span>Pretty things I made</span><a href="http://kabirsewani.com/work.html" class="portfolio" title="My Portfolio">My Portfolio</a></li>
          <li><span>Cool stories I wrote</span><a href="http://kabirsewani.com/blog.html" class="blog" title="My Blog">My Blog</a></li>
          <!-- <li><span>Experiments I conducted</span><a href="http://kabirsewani.com/#" class="labs" title="My Lab">My Lab</a></li>   -->
          <li><span>Where you can find me</span><a href="http://kabirsewani.com/contact.html" class="contact" title="Contact Me">Contact Me</a></li>
        </ul>
      </div>
    </nav>




<div id='bump'>
    <section class="article archive fade-in one">
      <article class="archive-wrap fade-in one">
          <ol class="post-list fade-in one">
            <!-- <lh><h2><span class="bb">Blog</span></h2></lh>  -->
              
              <li>
                <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                    <h1><a href="http://kabirsewani.com/articles/post-with-feature_2">A Clean, Well-Lighted Place</a></h1>
                    <p class="date">
                      <time datetime="2013-08-07T00:00:00+01:00" itemprop="datePublished">August 07, 2013</time>
                    </p>
                    <p class=""><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at gravida diam. Proin quis fermentum turpis. Mauris tristique rhoncus purus eget dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate elit non felis placerat faucibus. Pellentesque dictum, lectus in sodales interdum, diam purus pharetra urna, ut ultricies magna nunc eu quam. Sed nulla mauris, luctus ac tortor in, euismod rhoncus ante.</p>

<p>Aliquam ultrices sapien et nisl suscipit blandit....</p>
                </div>
                <span class="continuereading"><a href="http://kabirsewani.com/articles/post-with-feature_2">Continue Reading</a></span>
              </li>
              
              <li>
                <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                    <h1><a href="http://kabirsewani.com/articles/post-with-feature_2_2">Hills like white elephants</a></h1>
                    <p class="date">
                      <time datetime="2013-08-06T00:00:00+01:00" itemprop="datePublished">August 06, 2013</time>
                    </p>
                    <p class=""><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at gravida diam. Proin quis fermentum turpis. Mauris tristique rhoncus purus eget dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate elit non felis placerat faucibus. Pellentesque dictum, lectus in sodales interdum, diam purus pharetra urna, ut ultricies magna nunc eu quam. Sed nulla mauris, luctus ac tortor in, euismod rhoncus ante.</p>

<p>Aliquam ultrices sapien et nisl suscipit blandit....</p>
                </div>
                <span class="continuereading"><a href="http://kabirsewani.com/articles/post-with-feature_2_2">Continue Reading</a></span>
              </li>
              
              <li>
                <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                    <h1><a href="http://kabirsewani.com/articles/post-with-feature">Across the River and into the Trees</a></h1>
                    <p class="date">
                      <time datetime="2013-08-05T00:00:00+01:00" itemprop="datePublished">August 05, 2013</time>
                    </p>
                    <p class=""><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at gravida diam. Proin quis fermentum turpis. Mauris tristique rhoncus purus eget dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate elit non felis placerat faucibus. Pellentesque dictum, lectus in sodales interdum, diam purus pharetra urna, ut ultricies magna nunc eu quam. Sed nulla mauris, luctus ac tortor in, euismod rhoncus ante.</p>

<p>Aliquam ultrices sapien et nisl suscipit blandit....</p>
                </div>
                <span class="continuereading"><a href="http://kabirsewani.com/articles/post-with-feature">Continue Reading</a></span>
              </li>
                
          </ol>
      </article>
    </section>
</div>


<footer>
<!--  <ol class="prev-posts fade-in three">
    <p class="list-title">Recent Posts</p>
     
        <li>
          <span class="recent-title fade-in three"><a href="http://kabirsewani.com/articles/post-with-feature_2" title="A Clean, Well-Lighted Place">A Clean, Well-Ligh... </a></span>
          <span class="date fade-in three">Aug 07, 2013</span>
        </li>
     
        <li>
          <span class="recent-title fade-in three"><a href="http://kabirsewani.com/articles/post-with-feature_2_2" title="Hills like white elephants">Hills like white e... </a></span>
          <span class="date fade-in three">Aug 06, 2013</span>
        </li>
     
        <li>
          <span class="recent-title fade-in three"><a href="http://kabirsewani.com/articles/post-with-feature" title="Across the River and into the Trees">Across the River a... </a></span>
          <span class="date fade-in three">Aug 05, 2013</span>
        </li>
    
  </ol> -->

  <div class="social fade-in three">
    <p class="list-title">Connect</p>
      Find me on twitter <a href="https://twitter.com/beeriest" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">@beeriest</a>, 
      <br> 
      connect with me on <a href="http://www.linkedin.com/pub/kabir-sewani/39/120/b65"> Linked 
      <span id="linkedinlogo">
        <img src="http://kabirsewani.com/images/linkedinlogo.png">
      </span></a>, 
      <br>
       or <span id="email">send me an email</span> 
  </div>

  <!-- <div class="abbanner">
      Athlete Builer is looking for a Principal iOS Developer.  <br>
      Find more opportunities on the Vonical Job Board.
  </div>  -->

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="http://kabirsewani.com/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="http://kabirsewani.com/assets/js/retina.min.js"></script>
  <!-- Custom JS -->
  <script src="http://kabirsewani.com/assets/js/scripts.js"></script>

  <!--Social-->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  
   
   </footer>
  </body>
</html>




